.search-wrapper {    
    position: relative;
    /* transform: translateY(25%); */
}

.search-wrapper .fa-magnifying-glass {
    position: absolute;
    transform: translateY(100%);
    margin-left: .75rem;
}

.search-wrapper input{
    padding-left: 2.5rem;
    height: 3rem;
}

.logo-container img {
    scale: 2;
}